<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=10.10.1.226;Initial Catalog=ERPtest;User Id = BTintegration;Password = BtNDLS@980;Connection Timeout=0; pooling='true'; Max Pool Size=200;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="username" value="smcadmin"/>
    <add key="password" value="Smc@123"/>
    <!--<add key="password" value="Bt@123"/>-->
    <add key="EsiUserName" value="smcadmin"/>
    <add key="EsiPassword" value="Smc@123"/>
    <!--<add key="BlueTreeURL" value="https://ppeuat-onboarding.labour.tech/onboarding/app/fetch/empDetailsByDate/v1"/>-->
    <add key="BlueTreeURL" value=" https://onboarding.labour.tech/onboarding/app/fetch/empDetailsByDate/v1"/>
    <add key ="blueTreeESIURL" value="https://onboarding.labour.tech/onboarding/app/fetch/empEsiPfDetailsByDate/v1"/>
    <!--<add key="blueTreeESIURL" value="https://ppeuat-onboarding.labour.tech/onboarding/app/fetch/empEsiPfDetailsByDate/v1"/>-->
    <add key="FilePath" value="C:\inetpub\wwwroot\BlueTreeAPI\Images"/>
   
  </appSettings>
 
</configuration>
